body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style-type: none;
}
.container {
  max-width: 1200px;
  margin: 0px auto;
  border: 1px solid black;
}
.navBar {
  width: 70px;
  height: 100vh;
  background-color: #396cf0;
  border-top-right-radius: 10px;
  text-align: center;
  color: #fff;
}
.fa-bars {
  font-size: 26px;
}
