body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style-type: none;
}
.container {
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
}
.navBar {
  width: 8%;
  background-color: #396cf0;
  border-top-right-radius: 20px;
  text-align: center;
  color: #fff;
}
.fa-bars {
  font-size: 26px;
  margin: 20px 0px;
}

.navBar ul li {
  font-size: 26px;
  padding: 30px 0px;
}
.mainSection {
  width: 92%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 70px;
  padding: 0 20px;
  border-bottom: 1px solid #f5f5f5;
}
.searchBar {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 5px;
  width: 300px;
  height: 35px;
  padding: 0px 20px;
}
.searchBar input {
  outline: none;
  border: none;
  font-size: 16px;
  background-color: #f5f5f5;
  font-size: 12px;
  opacity: 0.5;
}
.searchBar .fa-search {
  margin-right: 20px;
  color: #858585;
  font-size: 12px;
  opacity: 0.5;
}
.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  height: 40px;
  background-color: #396cf0;
  padding: 5px;
  border-radius: 50px;
  color: #fff;
}
.user img {
  width: 30px;
  border-radius: 50%;
}
.fa-comment,
.fa-bell {
  font-size: 22px;
  color: #858585;
}
.section {
  display: flex;
  justify-content: space-between;
}
.section .leftSide {
  width: 20%;
  background-color: #f5f5f5;
  margin-top: 50px;
  border-radius: 5px;
}
.section .leftSide img {
  width: 150px;
  height: 160px;
  margin: 40px 40px 10px 40px;
  border: 2px solid #d6d6d7;
}
.section .leftSide p {
  text-align: center;
  font-weight: bold;
}
.section .rightSide {
  width: 79%;
}
.section header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 50px;
  padding: 0px 20px 5px 0px;
}
.options {
  display: flex;
  justify-content: space-between;
  width: 270px;
}
.email,
.download,
.print {
  color: #858585;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}
.fa-envelope,
.fa-download,
.fa-print {
  font-size: 14px;
  margin-right: 10px;
  color: #c8cfd8;
}
.curriculam-container {
  width: 100%;
  border: 1px solid #d1d0d0;
  padding: 15px;
}
.curriculam-container h4 {
  font-size: 14px;
  margin-top: 20px;
}
.curriculam-text {
  color: #858585;
  font-size: 12px;
  width: 90%;
  padding-top: 10px;
}
.curriculam-date {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #858585;
  font-size: 14px;
}
.curriculam-section {
  margin: 10px auto;
  height: max-content;
  box-shadow: 1px 1px 15px 1px #e4e4e4;
  padding: 0px;
}
.curriculam-step {
  display: flex;
  align-items: center;
}
.curriculam-step p {
  text-align: center;
  width: 20%;
  font-size: 14px;
  border-right: 1px solid #d1d0d0;
  padding: 5px 0px;
  color: #858585;
}
.about-curriculam-step {
  width: 80%;
}
.about-curriculam-step h4 {
  font-size: 14px;
  margin: 0px 0px 5px 0px;
  padding: none;
  color: #858585;
}
.about-curriculam-step .step {
  padding: 5px 40px;
}
.about-curriculam-step .step:not(:first-child) {
  border-top: 1px solid #d1d0d0;
}
.about-curriculam-step .second-step {
  padding: 5px 40px;
}

.check {
  background-color: #858585;
}
.businessFlow {
  background-color: #e7e9eb;
  height: 200px;
  margin: 30px 0px 30px 50px;
  padding: 25px;
  border: 2px solid #d6d6d7;
}
.businessFlow h2 {
  margin-bottom: 20px;
}
.businessFlow p {
  width: 80%;
  color: #858585;
}
